<script>
    function dialogue(){
        $( "#dialog-message" ).dialog({
            modal: true,
            height: 500,
            width: 700,
            buttons: {
                Ok: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }

    function show_on_click(id) {

        $.ajax({
            type:"GET",
            url:"<%=teams_url%>/"+id,
            data:{id:id },
            success:function (data, textStatus) {
//                if(data['status'] == 'true'){
//                       alert("hello");
                $("#dialog-message").html(data);
                dialogue();
//                }else
//                {$("#notice").html(data['message']);
//                }
            },
            dataType:'html'
        });
        return false;
    }

    function on_submit_click(id) {

        $.ajax({
            type:"POST",
            url:"<%=update_receiver_teams_url%>",
            data:{receiver_name:$("#input_" + id.toString()).val(), id:id },
            success:function (data, textStatus) {
                if(data['status'] == 'true'){
                    $("#" + data['id']).parent().html(data['message']);
                    $("#input_"+data['id']).parent().html(data['receiver']);
                }else
                {
                    $("#notice").html(data['message']);
                    $("#input_"+data['id']).parent().html(data['receiver']);
                }
            },
            dataType:'json'
        });
        return false;
    }
    $(document).ready(function () {
        $('#teams').dataTable({
        });
    });

</script>

<table id="teams" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
  <thead>
  <tr>
    <th>Team ID</th>
    <th>Team Name</th>
    <th>College</th>
    <th>Receiver Name</th>
    <th>Button</th>
    <th></th>

  </tr>
  </thead>
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_id %></td>
        <td><%= team.name %></td>
        <td><%= team.college %></td>
        <% if team.receiver.blank? then %>
            <td>
              <div class="field"><input id="input_<%= team.team_id %>" type="text"></div>
            </td>
            <td>
              <div class="actions">
                <input name="id" id="<%= team.team_id %>" data-disable-with="Please Wait.." receiver="" type="submit" value="Submit" onclick="on_submit_click(<%= team.team_id%>);"></div>
            </td>
        <% else %>
            <td>
              <div class="field"><%= team.receiver %></div>
            </td>
            <td>
              <div class="actions">
                Accepted
              </div>
            </td>

        <% end %>
        <td><a  href="#"  id ="dialog_<%=team.team_id%>" onclick = "show_on_click(<%= team.team_id %>);">Show</a></td>

      </tr>
  <% end %>
</table>


<br/>
<div id="dialog-message" class=""></div>
<%= link_to 'New Team', new_team_path %>
