<table class="table table-bordered ">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Participant ID</th>
    <th>College</th>
    <th>Certificate Eligibility</th>
  </tr>
  </thead>
  <tbody>
  <% @team.participants.each do |participant| %>
      <tr>
        <th><%= participant.fname %></th>
        <th><%= participant.lname %></th>
        <th><%= participant.pid %></th>
        <th><%= participant.college %></th>
        <th><%= participant.teligible %></th>
      </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
