<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pid %><br />
    <%= f.number_field :pid %>
  </div>
   <div class="field">
    <%= f.label :f_remb_amt %><br />
    <%= f.number_field :f_remb_amt %>
  </div>
  <div class="field">
    <%= f.label :r_remb_amt %><br />
    <%= f.number_field :r_remb_amt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
